* {
    box-sizing: border-box;
}

/* ************************* Top 3 Images *************************** */
.mainDiv {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 30px auto;
}

.mainDiv>.firstTop {
    width: 65%;
    height: 470px;
    border-radius: 5px;
    position: relative;
}
.firstTop>img{
    width: 100%;
    height: 100%;
}

.firstTopPara{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(12, 12, 12, 0.5);
    border-radius: 3px;
    color: white;
    padding: 5px;
    display: none;
    animation: titlemove 0.5s linear
}

.topTitle{
    font-size: 1.3vw;
    font-weight: bold;
    color: orange;
}

.firstTop:hover .firstTopPara{
    display: block; 
}

.secondTop, .thirdTop{
    position: relative;
}

.leftImg .topTitle{
    font-size: 1vw;
}

.leftImg .topTitle +p{
    font-size: 14px;
}


.secondTop:hover .firstTopPara{
    display: block; 
    height: 25%;
}

.thirdTop:hover .firstTopPara{
    display: block; 
    height: 25%;
}

@keyframes titlemove {
    0%{
        height: 5%;
    }
    70%{
        height: 20%;
    }
}

.mainDiv img {
    filter: drop-shadow(0 0 4px black);
}

.leftImg {
    width: 35%;
    display: flex;
    height: 470px;
    gap: 10px;
    flex-direction: column;
}

.leftImg > div{
    width: 100%;
    height: 49%;
}

.leftImg img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* ************************* The Latest section *************************** */
.latest {
    font-weight: 400;
    position: relative;
    padding-bottom: 5px;
}

.latest::before {
    position: absolute;
    content: '';
    bottom: 0%;
    width: 70px;
    border-bottom: 2px solid orangered;
}

.latestComp {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    gap: 30px;
    flex-wrap: wrap;
}


/* ************************* Top stories section *************************** */

.topStoriesComp {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/* *************** Right stories *************** */
.rightStories {
    width: 50%;
}

.rightDiv {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    position: relative;
}

.source {
    position: absolute;
    left: -20px;
    top: -8px;
    z-index: 11;
    border-radius: 20px;
    font-weight: 600;
    padding: 0 8px;
    font-size: 12px;
    color: blue;
    animation: sourceColor 1s linear infinite;
}

@keyframes sourceColor {
    0% {
        background-color: rgb(157, 223, 157);
    }

    40% {
        background-color: rgb(200, 234, 246);
    }

    80% {
        background-color: rgb(239, 177, 153);
    }
}

.image {
    width: 150%;
}

.image>.linkClass>img {
    width: 100%;
    height: 12vw;
    background-size: 100%;
    filter: drop-shadow(0 0 2px black);
}

.rightSide {
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

.rightSide h3 {
    margin: 12px 0;
    position: relative;
    color: white;
    cursor: pointer;
}

.rightSide h3:hover {
    font-size: 22px;
    margin: 8px 0;
}

.rightSide h3::before {
    content: attr(data-text);
    position: absolute;
    color: black;
    top: 0;
    width: 0;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: moveTitle 5s linear infinite;
}

.rightSide h3:hover::before {
    color: blue;
}

@keyframes moveTitle {
    0% {
        width: 0;
    }

    70% {
        width: 103%;
    }
}

.rightSide p {
    text-align: justify;
    padding-right: 10px;
}


/* *************** Left stories *************** */
.leftStories {
    width: 35%;
}

.latestTop {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 30px;
    font: 600 35px Arial;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px orchid;
    text-shadow: 0.0px 10.0px 0.02px #000, 9.8px 2.1px 0.02px #000, 4.2px -9.1px 0.02px #000, -8.0px -6.0px 0.02px #000, -7.6px 6.5px 0.02px #000, 4.8px 8.8px 0.02px #000, 9.6px -2.8px 0.02px #000, -0.7px -10.0px 0.02px #000, -9.9px -1.5px 0.02px #000, -3.5px 9.4px 0.02px #000, 8.4px 5.4px 0.02px #000, 7.1px -7.0px 0.02px #000, -5.4px -8.4px 0.02px #000, -9.4px 3.5px 0.02px #000, 1.4px 9.9px 0.02px #000, 10.0px 0.8px 0.02px #000, 2.9px -9.6px 0.02px #000, -8.7px -4.8px 0.02px #000, -6.6px 7.5px 0.02px #000, 5.9px 8.0px 0.02px #000, 9.1px -4.1px 0.02px #000, -2.1px -9.8px 0.02px #000, -10.0px -0.1px 0.02px #000, -2.2px 9.8px 0.02px #000, 9.1px 4.2px 0.02px #000, 6.1px -8.0px 0.02px #000, -6.5px -7.6px 0.02px #000, -8.8px 4.7px 0.02px #000, 2.7px 9.6px 0.02px #000, 10.0px -0.6px 0.02px #000, 1.5px -9.9px 0.02px #000, -9.3px -3.6px 0.02px #000, -5.5px 8.4px 0.02px #000, 7.0px 7.2px 0.02px #000, 8.5px -5.3px 0.02px #000, -3.4px -9.4px 0.02px #000, -9.9px 1.3px 0.02px #000, -0.8px 10.0px 0.02px #000, 9.6px 2.9px 0.02px #000, 4.9px -8.7px 0.02px #000, -7.5px -6.7px 0.02px #000, -8.1px 5.9px 0.02px #000, 4.0px 9.2px 0.02px #000, 9.8px -2.0px 0.02px #000, 0.2px -10.0px 0.02px #000, -9.7px -2.3px 0.02px #000, -4.3px 9.0px 0.02px #000, 7.9px 6.1px 0.02px #000;


}

.leftDiv {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    /* border: 2px solid red; */
    position: relative;
}

.leftDiv::before {
    position: absolute;
    content: '';
    top: 15%;
    right: 0;
    bottom: 0%;
    width: 35%;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.leftImage {
    width: 70%;
}

.leftImage>img {
    filter: drop-shadow(0 0 2px gray);
    width: 100%;
    height: 8vw;
}

.leftDiv p {
    color: purple;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 10px;
    text-align: justify;
    padding-right: 10px;
}

.leftDiv p:hover {
    text-decoration: underline;
    text-decoration-color: blue;
}

.advertisement {
    margin-top: 90px;
    height: 1170px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.adv {
    height: 30%;
    width: 100%;
}

.adv img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    filter: drop-shadow(0 0 2px black);
}

.advertisement>p {
    font-size: 30px;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

.advertisement>p::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    white-space: nowrap;
    border-right: 3px solid teal;
    overflow: hidden;
    animation: moveAdv 3s linear infinite;
}

@keyframes moveAdv {
    0% {
        width: 0%;
        color: purple;
    }
    30%{
        color: blue;
    }
    60%{
        color: red;
    }
    70% {
        width: 45%;
        color: teal;
    }
}



/* ********************** Top Posts First Child ************************ */

.latestTop+div {
    flex-direction: column;
    gap: 0px;
    margin-bottom: 35px;
    /* color:red; */
}

.latestTop+div .leftImage {
    text-align: center;
    width: 100%;
    margin: auto;
}

.latestTop+div .leftImage>img {
    width: 100%;
    height: 15vw;
    filter: drop-shadow(0 0 2px black);
}

.latestTop+div p {
    font-size: 18px;
    padding-bottom: 13px;
}


/* ************************ RESPONSIVE ********************* */
@media screen and (max-width:1100px) {

    .firstTop:hover .firstTopPara{
        display: none; 
    }
    
    .secondTop:hover .firstTopPara{
        display: none; 
    }
    
    .thirdTop:hover .firstTopPara{
        display: none; 
    }

    .rightStories {
        width: 58%;
    }

    .image>.linkClass>img {
        height: 16vw;
    }

    .rightSide h3 {
        margin: 0 0 8px 0;
    }

    .rightSide h3:hover {
        margin: 0 0 8px 0;
    }

    .leftDiv p {
        margin-top: 0px;
    }
}

@media screen and (max-width: 850px) {

    .mainDiv>.firstTop,
    .leftImg {
        height: 400px;
    }

    .topStoriesComp {
        flex-direction: column;
    }

    .rightStories {
        width: 100%;
    }

    .image>.linkClass>img {
        height: 24vw;
    }

    .rightSide {
        padding-right: 10px;
        border-right: none;
        padding-left: 10px;
    }

    .rightSide h3 {
        margin: 12px 0;
    }

    .latestTop {
        margin: 50px 0;
    }

    .leftStories {
        width: 90%;
        margin: auto;
    }

    .leftImage>img {
        height: 20vw;
    }

    .latestTop+div .leftImage>img {
        height: 37vw;
    }

    .linkPara>p {
        margin-top: 30px;
    }

    .leftDiv::before {
        top: 75%;
    }
}

@media screen and (max-width: 700px) {

    .mainDiv>.firstTop,
    .leftImg {
        height: 360px;
    }
    .rightSide h3 {
        margin:  0;
    }
}

@media screen and (max-width: 600px) {
    .mainDiv {
        flex-direction: column;
        margin-bottom: -180px;
    }

    .mainDiv>.firstTop {
        width: 100%;
        height: 300px;
    }

    .leftImg {
        width: 100%;
        flex-direction: row;
    }

    .leftImg>div {
        width: 49%;
    }
    .rightSide {
        padding-right: 0;
    }
    .linkPara>p {
        margin-top: 20px;
    }
}

@media screen and (max-width: 570px) {
    .image>.linkClass>img {
        width: 110%;
        height: 28vw;
    }
    .linkPara>p {
        margin-top: 15px;
    }
}

@media screen and (max-width: 500px) {
    .mainDiv {
        margin-bottom: -170px;
    }

    .mainDiv>.firstTop {
        height: 250px;
    }

    .leftImg {
        height: 250px;
    }
    .rightDiv{
        flex-direction: column;
    }
    .image{
        width: 100%;
    }
    .image>.linkClass>img {
        width: 100%;
        height: 45vw;
    }
    .latest{
        margin-top: 70px;
    }
    .rightSide p {
        padding: 15px 0;
    }
    .linkPara>p {
        margin-top: 5px;
    }
}

@media screen and (max-width: 400px) {
    .mainDiv {
        margin-bottom: -150px;
    }

    .mainDiv>.firstTop {
        height: 200px;
    }

    .image>.linkClass>img {
        height: 47vw;
    }

    .leftStories{
        width: 95%;
    }

    .leftImg>div {
        height: 120px;
    }
    .leftDiv p {
        margin-top: 0;
        padding: 0;
    }
    .leftImage > img{
        width: 25vw;
        height: 25vw;
    }
    .leftDiv{
        gap: 10px;
    }
    
@keyframes moveAdv {
    0% {
        width: 0%;
        color: purple;
    }
    30%{
        color: blue;
    }
    60%{
        color: red;
    }
    70% {
        width: 69%;
        color: teal;
    }
}
}