
.topComp {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    gap: 30px;
    flex-wrap: wrap;
}

.latestDiv{
    width: 26vw;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 black;
}

.linkClass > img{
    width: 100%;
    height: 16vw;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.content{
    padding: 10px;
}
.content h3{
    margin: 10px;
    position: relative;
    color: white;
    cursor: pointer;
}

.content h3:hover{
    font-size: 20px;
    margin:8px 0;
}

.content h3::before{
    content: attr(data-text);
    position: absolute;
    color: #010101;
    left: 0;
    width: 0;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    filter: drop-shadow(0 0 15px white);
    animation: animate 4s linear infinite;
}

.content h3:hover::before{
    color: red;
}

@keyframes animate {
    0%{
        width: 0;
    }
    70%{
        width: 103%;
    }
}

.content p {
    text-align: justify;
}


/* ************************ RESPONSIVE ************************* */


@media screen and (max-width:1050px) {
    .latestDiv{
        width: 45%;
    }
    .linkClass > img{
        height: 21vw;
    }
}


@media screen and (max-width: 860px) {
    .latestDiv{
        width: 47%;
    }
    .linkClass > img{
        height: 24vw;
    }
}

@media screen and (max-width: 700px) {
    .linkClass > img{
        height: 30vw;
    }
}

@media screen and (max-width: 600px) {
    .latestDiv{
        width: 100%;
    }
    .linkClass > img{
        height: 50vw;
    }
}